In [1]:
import pandas as pd

In [2]:
PyBank_csv="PyBank_data.csv"

In [3]:
PyBank_df=pd.read_csv(PyBank_csv)

In [4]:
PyBank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
Months_Total=PyBank_df["Date"].count()
Print_Months= f"Total Months: {Months_Total}"
print(Print_Months)

Total Months: 86

In [6]:
Total=PyBank_df["Profit/Losses"].sum()
Total_Amount=f"Total: ${Total}"
print(Total_Amount)

Total: $38382578

In [7]:
change=PyBank_df["Profit/Losses"].diff()

PyBank_df["Average Change"]=change

PyBank_df.head

<bound method NDFrame.head of         Date  Profit/Losses  Average Change
0   Jan-2010         867884             NaN
1   Feb-2010         984655        116771.0
2   Mar-2010         322013       -662642.0
3   Apr-2010         -69417       -391430.0
4   May-2010         310503        379920.0
..       ...            ...             ...
81  Oct-2016         102685       -665765.0
82  Nov-2016         795914        693229.0
83  Dec-2016          60988       -734926.0
84  Jan-2017         138230         77242.0
85  Feb-2017         671099        532869.0

[86 rows x 3 columns]>

In [8]:
Average=PyBank_df["Average Change"].mean()
Print_average= f"Average Change: ${Average}"
print(Print_average)

Average Change: $-2315.1176470588234

In [9]:
Greatest_Increase_in_Profits= PyBank_df["Average Change"].max()
#Date_Increase=PyBank_df.loc[PyBank_df["Date"]=="-1926159.0","Average Change"]

Greatest_Increase=f"(${Greatest_Increase_in_Profits})"
print (Greatest_Increase)

($1926159.0)

In [10]:
Greatest_Decrease_in_Profits= PyBank_df["Average Change"].min()
#Date_Increase=PyBank_df.loc[PyBank_df["Date"]=="-1926159.0","Average Change"]

Greatest_Decrease=f"(${Greatest_Decrease_in_Profits})"
print (Greatest_Decrease)

($-2196167.0)

In [11]:
PyBank_df.loc[PyBank_df['Average Change']==1926159.0]

        Date  Profit/Losses  Average Change
25  Feb-2012        1170593       1926159.0

In [12]:
Date_Increase=PyBank_df.iloc[25]['Date']
print(Date_Increase)

Feb-2012

In [13]:
PyBank_df.loc[PyBank_df['Average Change']==-2196167.0]

        Date  Profit/Losses  Average Change
44  Sep-2013       -1196225      -2196167.0

In [14]:
Date_Decrease=PyBank_df.iloc[44]['Date']
print(Date_Decrease)

Sep-2013

In [15]:
print("Financial Analysis")
print("--------------------")
print(Print_Months)
print(Total_Amount)
print(Print_average)
print (f"Greatest Increse in Profits: {Date_Increase}{Greatest_Increase}")
print (f"Greatest Decrease in Profits: {Date_Decrease}{Greatest_Decrease}")

Financial Analysis
--------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increse in Profits: Feb-2012($1926159.0)
Greatest Decrease in Profits: Sep-2013($-2196167.0)

In [17]:
PyBank_df.to_excel("python_challenge.xlsx",sheet_name='Sheet1')